.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 76rem;
}
.dana-filter-container{
    display: flex;
    justify-content: center;
}
.dana-table-title {
    text-align: center;
}
.dana-table {
    width: 100%;
}
.dana-img-container {
    display: flex;
    border: 1px solid gray;
    flex-direction: row;
    margin: $l-size;
    padding: $m-size;
}
.dana-camera {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: $s-size;
}

.dana-report {
    width: 100%;
}
.dana-chart{
    display: flex;
    flex-direction: row;
    margin: $m-size;
    padding: $m-size;
    border: 1px solid #ccc;
    border-radius: 10px;

    > *{
        flex-grow: 1;
    }
}
.recharts-wrapper, .recharts-surface{
    width: 100% !important;
}
.dana-report-number{
    border:1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 0rem 12rem $m-size 12rem;

    > *{
        flex-grow: 1;
    }

    > h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9rem;
    }

    h1,h4{
        margin: 0;
    }
}
.dana-report-number-sub{
    border-left: 1px solid #ccc;

    > h4{
        padding: 10px 10px 10px 10px;
        color: red;
    }
    > hr{
        margin: 0 !important;
    }
}
.dana-nochart{
    border:1px solid #ccc;
    border-radius: 10px;
    display: flex;
    margin: $s-size $xl-size;
    min-height: 30rem;

    > h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11rem;
        color: coral;
        margin: 0 auto;
    }
}
.dana-main-table{
    border: 1px solid #ccc;
}
.dana-sample{
    width: 200px;
    margin: 0 auto;
    padding: $m-size 0;
}